* {
  box-sizing: border-box;
}

html{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(38, 38, 38);
}
body{
  width: 400px;
  height: 600px;
  border: 5px solid black;
  border-radius: 10px;
  background: linear-gradient(rgb(18, 17, 17) 0%, rgb(18, 17, 17) 60%, #c3a704 100%)
}

#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#title-div > h1{
  font-family: "Black Ops One";
  font-weight: 700;
  color: rgb(251, 219, 7);
  margin-top: 20px;
  font-size: 35px;
  opacity: 0.9;
}

#title-div > img{
  width: 9rem;
  height: 9rem;
}

#information{
  height: 600px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}


.price-box{
  border: 2.4px solid rgb(250, 198, 24);
  width: 100%;
  height: 4.0625rem;
  border-radius: 10px;
  color: rgb(251, 219, 7);
  font-size: 18px;
  margin-bottom: 15px;
  overflow: hidden;
  display: flex;
}

#price-box1{
  margin-top: 15px
}

#price-box2{
  display: flex;
  align-items: center;
}

#legend{
  margin-left: 20px;
  color: rgb(251, 219, 7);
  font-size: 16px;
  font-family: "Roboto";
}

#information > button{
  width: 320px;
  height: 60px;
  background: linear-gradient(to right, yellow, orange);
  color: black;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  font-family: Roboto;
  border: 2px solid rgb(97, 86, 8);
  cursor: pointer;
}

#button:hover{
  box-shadow: 2px 2px 8px 0px rgb(250, 198, 24)
}

#measurement{
  background-color: rgb(39, 38, 38);
  color: rgb(250, 198, 24);
  width: 320px;
  margin-top: 25px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px
}

#measurement > p{
  font-size: 12px;
  padding: 5px;
}


#unit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
  margin-right: 40px
}
#pound-img{
  width: 40px;
  height: 40px;
  margin-right: 15px;
  fill: yellow;
}

#price-row{
  display: flex;
  justify-content: flex-start
}

#pound-unit{
  display: flex;
  align-items: center;
  border-right: 2px solid rgb(250, 198, 24);
  justify-content: center;
  margin-right: 20px
}

#quantity{
  color: grey;
  font-size: 25px;
  width: 200px;
  background: none;
  border: none;
  margin-top: 4px
}

#nav-bar{
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: 390px;
  color: white;
}

#nav-bar > a{
  margin-right: 15px;
  /* text-decoration: underline; */
  margin-top: 15px;
  cursor: pointer;
  font-family: "Black Ops One"
}

#order-title{
  color: white;
  font-family: "Black Ops One"
}

#nav-button{
  color: white;
  font-family: "Black Ops One";
  margin-top: 15px;
  margin-right: 15px;
}

#order-navBar{
  display: flex;
  justify-content: flex-end;
  width: 390px;
  cursor: pointer;
}

#information-page-container{
  height: 590px;
  width: 390px;
  display: flex;
  flex-direction: column;
}



/* Order Info Detail: */

.order-info{
  color: white;
  font-size: 7px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.info-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Price Input */
#quantity{
  color: white;
}

#quantity:focus{
  outline: none;
}

